<template>
  <nav class="navbar is-warning">
    <!--<div class="container">-->
      <div class="navbar-brand">
        <router-link class="navbar-item" to="/home"><img src="./logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28"></router-link>
        <div class="navbar-burger burger" :class="{'is-active':selected}" @click="showNav">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
  
      <div class="navbar-menu" :class="{'is-active':selected}">
        <!-- <div class="navbar-start">
          <router-link class="navbar-item" to="/company">Company</router-link>
          <router-link class="navbar-item" to="/company">TODO</router-link>
        </div> -->
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
              <p class="control">
                <router-link class="button is-primary" to="/company">Create</router-link>
                 <a v-if="!loggedIn" class="button is-primary" @click="login">
                  <span>Login</span>
                </a>
                 <a v-else class="button is-primary" @click="logout">
                  <span>Logout</span>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    <!--</div>-->

  </nav>
</template>

<script>
export default {
  data() {
    return {
      selected: false
    };
  },
  computed: {
    loggedIn() {
      return this.$store.getters.loggedIn;
    }
  },
  methods: {
    showNav() {
      this.selected = !this.selected;
    },
    login() {
      console.log(this.loggedIn);
      this.$store.dispatch("retrieveToken");
    },
    logout() {
      console.log("logout");
      this.$store.dispatch("destroyToken");
    }
  }
};
</script>

<style>
.header {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
</style>
