<template>
  <article class="media" v-if="vendor">
    <div class="media-left">
      <figure class="image is-128x128">
        <img :src='vendor.logo' alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>
            <router-link class="navbar-item" :to="{ name: 'company', params: {id: vendor.id} }">{{vendor.title}}</router-link>
            
          </strong>
          <br>
          <small>{{vendor.title}} is a global leader in software.</small>
          <br> Auckland, New Zealand
        </p>
      </div>

    </div>

    <div class="media-left">
      <div class="level-item has-text-centered">
        <div>
          <star-rating :glow="5" :rating="aveStars" :read-only="true" :increment="0.01" :star-size=30 :show-rating="false" :star-points="[23,2, 14,17, 0,19, 10,34, 7,50, 23,43, 38,50, 36,34, 46,19, 31,17]"></star-rating>
        </div>

      </div>
      <nav class="level">
        <div class="level-item has-text-centered">
          <div>
            <p class="h2">{{aveStars}}</p>
            <p class="heading">Starts</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="h2">{{vendor.totalCount}}</p>
            <p class="heading">Comments</p>
          </div>
        </div>
      </nav>
    </div>
  </article>
</template>

<script>
  import Company from './company'
  import StarRating from 'vue-star-rating'
  export default {
    components: {
      Company,
      StarRating
    },
    computed: {
      aveStars () {        
        if(this.vendor.totalCount ==0){
          return 0
        }else {
          return new Number((this.vendor.totalStars/this.vendor.totalCount).toFixed(1));
        }
      }
    },
    props: {
      vendor: {
        type: Object,     
      }
    }   
  }

</script>
