<template>
  <div class="tile is-ancestor">
    <div class="tile is-parent parent-layout">
      <singleMap :vendors=vendors />
    </div>
    <div class="tile is-parent is-6 parent-layout">
      <companyCreate/>
      <!--<ItemPage :vendors=vendors />-->
    </div>
  </div>
</template>

<script>
  import singleMap from "./single-map";
  import companyCreate from "./company-create";
  import ItemPage from "./item-page";
  import getCompany from "../util/constants/getCompany";

  export default {
    components: {
      singleMap,
      // ItemPage,
      companyCreate
    },

    data() {
      return {
        vendors: []
      };
    },

    // mounted() {
    //   console.log("====================>" + this.$route.params.id)
    //   this.initWeb3();
    //   // console.log(this.$store.state.contractInstance().methods);


    //   // this.$store.state.contractInstance().methods.getCompany(this.$route.params.id)
    //   // this.vendors = response.data.results
    // },
    // methods: {
    //   initWeb3() {
    //     this.$store.dispatch('registerWeb3').then(() => {
    //       this.$store.dispatch('getContractInstance')
    //     }).then(() => {
    //       getCompany(this.$store.state, this.$route.params.id).then((res) => {
    //         console.log(JSON.stringify(res[0]) + "aaa");
    //       })
    //     })
    //   }
    // }
  };

</script>
<style>
  .parent-layout {
    /*border: 1px solid blue;*/
    padding: 0px !important
  }

  .columns {
    margin-top: 30px;
  }

  #layout-ancestor {
    /*width: 100%;
    margin-top: 55px;
    overflow: hidden;
    position: fixed;*/
  }

</style>
