<template>
  <div class="box">

    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li>
          <router-link class="navbar-item" to="/home">Home</router-link>
        </li>
        <li class="is-active"><a href="#" aria-current="page">Create Company</a></li>
      </ul>
    </nav>

    <article class="media">
      <div class="media-content">
        <div class="field">
          <label class="label">Company Name</label>
          <div class="control">
            <input class="input" type="text" v-model="companyName" placeholder="Company Name">
          </div>
        </div>
        <div class="field">
          <label class="label">Company Address</label>
          <div class="control">
            <input class="input" type="text" v-model="searchAddressInput" v-on:change="searchLocation" placeholder="Search Address">
          </div>
        </div>

        <div class="field">
          <label class="file-label">
            <input class="file-input" type="file" name="logo" @change="onFileChanged">
            <span class="file-cta">
              <span class="file-icon">
                <i class="fas fa-upload"></i>
              </span>
              <span class="file-label">
                Choose a logo…
              </span>
            </span>
          </label>
        </div>

        <div class="field">
          <p class="control">
            <button :disabled=isDisabled class="button is-primary" @click="onUpload">Submit</button>
          </p>
        </div>
      </div>
    </article>

  </div>
</template>

<script>
  import Company from "./company";
  import StarRating from "vue-star-rating";
  import ipfs from '../service/ipfs'
  import getWeb3 from '../service/getWeb3'
  import StarsContracts from '../../../build/contracts/Stars.json'

  export default {
    components: {
      Company,
      StarRating
    },

    props: {
      vendor: {
        type: Object
      }
    },
    data() {
      return {
        companyName: '',
        searchAddressInput: '',
        lat: '',
        lng: '',
        isDisabled: false,
        buffer: null,
        file: null
      };
    },
    methods: {
      searchLocation: function () {
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({
          'address': this.searchAddressInput
        }, (results, status) => {
          if (status === 'OK') {
            this.lat = results[0].geometry.location.lat();
            this.lng = results[0].geometry.location.lng();
            if (this.isDisabled) {
              this.isDisabled = false
            }
          } else {
            console.log("Invalid Address!")
            this.isDisabled = true
          }
        });
      },
      onFileChanged: function () {
        this.file = event.target.files[0]
        var reader = new FileReader();
        reader.addEventListener("load",  () => {     
          const buffer = Buffer.from(reader.result)            
          this.buffer = buffer;
        }, false);

        if (this.file) {
          reader.readAsArrayBuffer(this.file);
        }
      
      },
      onUpload() {
        var ipfsLogo;
        console.log("=====================>" + this.buffer == null)   
        var parent = this;
        ipfs.add(this.buffer, (err, ipfsHash) => {
          console.log(ipfsHash)
          ipfsLogo = ipfsHash[0].hash;
          this.createData(ipfsLogo, parent)
        })

      },
      createData(ipfsLogo, parent) {
        var web3;
        getWeb3.then(results => {
          web3 = results.web3;
          return web3;
        }).then((web3) => {
          web3.eth.getAccounts((error, accounts) => {
            const contract = require('truffle-contract')
            const Stars = contract(StarsContracts)
            Stars.setProvider(web3.currentProvider)
            Stars.deployed().then(function (instance) {
              var deployed = instance; 
              return instance.createCompany(parent.companyName, ipfsLogo, new String(parent.lat).toString(), new String(parent.lng).toString(), {
                from: accounts[0]
              });
            }).then(function () {
              parent.$router.push('/home')
            });
          })
        })
      }
    }
  };

</script>

<style>
  .box {
    height: 96vh;
    overflow-y: scroll;
    width: 100%;
  }

  .heading {
    color: #1861bf;
    font-size: 15px;
  }

  .h2 {
    font-weight: bold;
  }

</style>
