<template>
  <div id="layout-ancestor" class="tile is-ancestor">
    <div class="tile is-parent parent-layout">
      <Gmap :vendors=vendors />
    </div>
    <div class="tile is-parent is-6 parent-layout">
      <ItemPage :vendors=vendors />
    </div>
  </div>
</template>

<script>
  import Gmap from "./map-view";
  import ItemPage from "./item-page";
  import getWeb3 from '../service/getWeb3'
  import StarsContracts from '../../../build/contracts/Stars.json'

  export default {
    components: {
      Gmap,
      ItemPage
    },

    data() {
      return {
        vendors: []
      };
    },

    mounted() {
      var web3;
      getWeb3.then(results => {
        web3 = results.web3;
        return web3;
      }).then((web3) => {
        this.getdata(web3, this);     
      })
    },
    methods: {
      getdata(web3, parent) {
        const contract = require('truffle-contract')
        const Stars = contract(StarsContracts)
        Stars.setProvider(web3.currentProvider)
        var deployed;
        Stars.deployed().then(function (instance) {
          deployed = instance;
          return instance.getCompanyIdsPagination(0, 5);
        }).then(function (result) {
          var ids = result[1];
          var data = []
          for (let id of ids) {
            var companyId = id.toString(10);
            deployed.getCompanyById(companyId).then((result) => {              
              var company = {
                id: result[0].toString(10),
                title: result[1],
                logo: 'https://ipfs.io/ipfs/' + result[2],
                position: {
                  lat: Number(result[3]),
                  lng: Number(result[4]),
                },
                icon: {
                  url: 'http://sandbox.favethemes.com/houzez/wp-content/uploads/2016/02/x2-apartment.png',
                  scaledSize: {
                    width: 42,
                    height: 53
                  }
                },
                totalStars: Number(result[5].toString(10)),
                totalCount: Number(result[6].toString(10)),
                author: result[7]
              }
              data.push(company)
            })

          }

          parent.vendors = data;          
        });
      },
    },
    
  };

</script>
<style>
  .parent-layout {
    /*border: 1px solid blue;*/
    padding: 0px !important
  }

  .columns {
    margin-top: 30px;
  }


</style>
