<template>
  <div class="box">
    <Company v-for="(vendor, index) in vendors" :key="vendor.title" :vendor=vendor />
  </div>
</template>

<script>
  import Company from './company'
  export default {
    components: {
      Company
    },

    props: {
      vendors: {
        type: Array
      }
    },

  }

</script>

<style>
  .box {
    height: 96vh;
    overflow-y: scroll;
    width: 100%;

  }

  .heading {
    color: #1861bf;
    font-size: 15px;
  }

  .h2 {
    font-weight: bold;
  }

  .level-item has-text-centered {
    border: 1px solid red;
  }

</style>
