<template>
  <div class="left-column">
    <GmapMap :center="center" :zoom="12" map-type-id="roadmap" class="map-container" ref="mymap" @zoom_changed="test">
      <GmapMarker :key="index" v-for="(m, index) in vendors" :position="m.position" :clickable="true" :draggable="false" @click="toggleInfoWindow(m, index)"
        :icon="m.icon" />
      <gmap-info-window :position="infoWindowPos" :opened="infoWinOpen" @closeclick="infoWinOpen=false">
        <!--<div style="border: 1px solid red; width: 200px; height: 200px">{{infoContent}}</div>-->
        <Company :vendor=vendor />
      </gmap-info-window>
    </GmapMap>
  </div>
</template>

<script>
  import Company from './company'
  export default {
    components: {
      Company
    },

    props: {
      vendors: {
        type: Array
      }
    },
    watch: {    
      vendors: {
        immediate: true,
        handler: function (v1, v2) {
          if (v1[0] != null) {
            console.log(v1[0].position.lat)
            this.center = {
              lat: v1[0].position.lat,
              lng: v1[0].position.lng
            }
          }
        }
      }
    },

    data() {
      return {
        center: {
          lat: -36.864019,
          lng: 174.764069
        },
        vendor: null,
        mapTypeId: "terrain",
        infoWindowPos: null,
        infoWinOpen: false
      };
    },
    methods: {
      toggleInfoWindow: function (marker, idx) {
        var scale = Math.pow(2, this.$refs.mymap.$mapObject.getZoom());
        var offsety = ((50 / scale) || 0);
        var projection = this.$refs.mymap.$mapObject.getProjection();
        var markerPosition = new google.maps.LatLng(marker.position.lat, marker.position.lng);
        var markerScreenPosition = projection.fromLatLngToPoint(markerPosition);
        var pointHalfScreenAbove = new google.maps.Point(markerScreenPosition.x, markerScreenPosition.y - offsety);
        var aboveMarkerLatLng = projection.fromPointToLatLng(pointHalfScreenAbove);
        this.$refs.mymap.$mapObject.setCenter(aboveMarkerLatLng);
        this.infoWindowPos = aboveMarkerLatLng;
        this.vendor = marker;
        //check if its the same marker that was selected if yes toggle
        if (this.currentMidx == idx) {
          this.infoWinOpen = !this.infoWinOpen;
        }
        //if different marker set infowindow to open and reset current marker index
        else {
          this.infoWinOpen = true;
          this.currentMidx = idx;
        }
      },
      test: function (marker, idx) {
        this.infoWinOpen = false;
      }
    }
  };

</script>
<style>
  .left-column {
    width: 100%;
  }

  .map-container {
    height: 96vh;
  }

</style>
