<template>
  <div class="box">

    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li>
          <router-link class="navbar-item" to="/home">Home</router-link>
        </li>
        <li class="is-active"><a href="#" aria-current="page">Company</a></li>
      </ul>
    </nav>

    <Company :vendor=vendor />
    <hr />

    <article class="media">
      <div class="media-content">
        <div class="content">
          <p>
            <strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
            <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque
            tortor
            vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
          </p>
        </div>

      </div>
      <div class="media-right">
        <star-rating :glow="5" :rating="0" :increment="0.5" :star-size=20 :show-rating="false" :star-points="[23,2, 14,17, 0,19, 10,34, 7,50, 23,43, 38,50, 36,34, 46,19, 31,17]"></star-rating>
      </div>
    </article>

    <article class="media">
      <div class="media-content">
        <div class="content">
          <p>
            <strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
            <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque
            tortor
            vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
          </p>
        </div>

      </div>
      <div class="media-right">
        <star-rating :glow="5" :rating="0" :increment="0.5" :star-size=20 :show-rating="false" :star-points="[23,2, 14,17, 0,19, 10,34, 7,50, 23,43, 38,50, 36,34, 46,19, 31,17]"></star-rating>
      </div>
    </article>

    <article class="media">
      <div class="media-content">
        <div class="field">
          <label class="label">Message</label>
          <div class="control">
            <textarea class="textarea" v-model="comment" placeholder="Add a comment..."></textarea>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="label">Rating</label>
            <star-rating :glow="5" :rating="5" @rating-selected="setRating" :increment="0.5" :star-size=30 :show-rating="false"
              :star-points="[23,2, 14,17, 0,19, 10,34, 7,50, 23,43, 38,50, 36,34, 46,19, 31,17]"></star-rating>
          </div>
        </div>
        <div class="field">
          <p class="control">
            <button class="button is-primary" @click="submit">Submit</button>
          </p>
        </div>
      </div>
    </article>

  </div>
</template>

<script>
  import Company from './company'
  import StarRating from 'vue-star-rating'
  import getWeb3 from '../service/getWeb3'
  import StarsContracts from '../../../build/contracts/Stars.json'
  export default {
    components: {
      Company,
      StarRating
    },

    props: {
      vendor: {
        type: Object,
      }
    },
    data() {
      return {
        comment: '',
        star: 0,
        comments: [],        
      };
    },
    
    computed: {
      returnSelected() {
        var web3;
        getWeb3.then(results => {
          web3 = results.web3;
          return web3;
        }).then((web3) => {
          console.log("????????????????" + vendor.id)
          return this.getdata(web3, this);
        })
      }
    },
    methods: {  
      getdata(web3, parent) {
        const contract = require('truffle-contract')
        const Stars = contract(StarsContracts)
        Stars.setProvider(web3.currentProvider)
        var deployed;
        Stars.deployed().then(function (instance) {
          deployed = instance;
        }).then(function () {
          var data = []
          var companyId = parent.id;
          console.log(parent.vendor)


          console.log(parent.vendor.id + "1>>>>>>>")
          console.log(t + "1>>>>>>>")
          var t = parent.vendor.totalCount;
          for (let i = 0; i < totalCount; i++) {
            deployed.getCommentByCompanyIdAndCommentId(companyId, ).then((result) => {
              var company = {
                id: result[0].toString(10),
                title: result[1],
                logo: 'https://ipfs.io/ipfs/' + result[2],
                position: {
                  lat: Number(result[3]),
                  lng: Number(result[4]),
                },
                icon: {
                  url: 'http://sandbox.favethemes.com/houzez/wp-content/uploads/2016/02/x2-apartment.png',
                  scaledSize: {
                    width: 42,
                    height: 53
                  }
                },
                totalStars: Number(result[5].toString(10)),
                totalCount: Number(result[6].toString(10)),
                author: result[7]
              }
              data.push(company)
              // parent.vendor = company
            })
          }
          // parent.vendors = data
        });
      },
      setRating: function (rating) {
        this.star = rating;
      },
      submit() {
        parent = this;
        console.log(this.star, this.comment)
        var web3;
        getWeb3.then(results => {
          web3 = results.web3;
          return web3;
        }).then((web3) => {
          web3.eth.getAccounts((error, accounts) => {
            const contract = require('truffle-contract')
            const Stars = contract(StarsContracts)
            Stars.setProvider(web3.currentProvider)
            Stars.deployed().then(function (instance) {
              var deployed = instance;
              return instance.addComment(parent.vendor.id, parent.star, parent.comment, {
                from: accounts[0]
              });
            }).then(function () {
              parent.$router.push('/home')
            });
          })
        })
      }
    },
  }

</script>

<style>
  .box {
    height: 96vh;
    overflow-y: scroll;
    width: 100%;

  }

  .heading {
    color: #1861bf;
    font-size: 15px;
  }

  .h2 {
    font-weight: bold;
  }

</style>
