<template>
  <div id="app">
    <Header/>
    <div id="layout-ancestor1">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
  import Header from './components/global/header'
  export default {
    name: 'App',
    components: {
      Header
    }
  }
</script>

<style>
  #layout-ancestor1 {
    width: 100%;
    height: 100%;
    /*margin-top: 55px;*/
    overflow: hidden;
    /*position: fixed;*/
    /*background:#eaeaea none;*/
    /*background:red;*/
  }
</style>
